
PatternRepository/.vs/PatternRepository/v17/.suo
PatternRepository/PatternRepository/bin/Debug/netcoreapp3.1/PatternRepository.deps.json
PatternRepository/PatternRepository/bin/Debug/netcoreapp3.1/PatternRepository.dll
PatternRepository/PatternRepository/bin/Debug/netcoreapp3.1/PatternRepository.pdb
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/PatternRepository.AssemblyInfo.cs
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/PatternRepository.AssemblyInfoInputs.cache
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/PatternRepository.assets.cache
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/PatternRepository.csproj.AssemblyReference.cache
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/PatternRepository.csproj.CoreCompileInputs.cache
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/PatternRepository.csproj.FileListAbsolute.txt
PatternRepository/PatternRepository/obj/project.nuget.cache
PatternRepository/PatternRepository/obj/project.assets.json
PatternRepository/PatternRepository/obj/PatternRepository.csproj.nuget.g.targets
PatternRepository/PatternRepository/obj/PatternRepository.csproj.nuget.g.props
PatternRepository/PatternRepository/obj/PatternRepository.csproj.nuget.dgspec.json
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/PatternRepository.pdb
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/PatternRepository.GeneratedMSBuildEditorConfig.editorconfig
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/PatternRepository.dll
*.v2
PatternRepository/.vs/PatternRepository/DesignTimeBuild/.dtbcache.v2
PatternRepository/.vs/PatternRepository/v17/.futdcache.v1
PatternRepository/PatternRepository/bin/Debug/netcoreapp3.1/PatternRepositories.dll
PatternRepository/PatternRepository/bin/Debug/netcoreapp3.1/PatternRepositories.pdb
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/PatternRepositories.csproj.CoreCompileInputs.cache
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/PatternRepositories.dll
PatternRepository/PatternRepository/obj/Debug/netcoreapp3.1/PatternRepositories.pdb
